<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.cyanogenmod.tests"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="cyanogenmod.permission.BIND_CUSTOM_TILE_LISTENER_SERVICE"/>
    <uses-permission android:name="cyanogenmod.permission.PUBLISH_CUSTOM_TILE"/>
    <uses-permission android:name="cyanogenmod.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="cyanogenmod.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="cyanogenmod.permission.MODIFY_NETWORK_SETTINGS" />
    <uses-permission android:name="cyanogenmod.permission.MODIFY_SOUND_SETTINGS" />
    <uses-permission android:name="cyanogenmod.permission.MANAGE_ALARMS" />
    <uses-permission android:name="cyanogenmod.permission.READ_ALARMS" />
    <uses-permission android:name="cyanogenmod.permission.MODIFY_MSIM_PHONE_STATE" />
    <uses-permission android:name="cyanogenmod.permission.READ_MSIM_PHONE_STATE" />
    <uses-permission android:name="cyanogenmod.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-permission android:name="cyanogenmod.permission.MODIFY_PROFILES" />
    <uses-permission android:name="cyanogenmod.permission.MANAGE_PERSISTENT_STORAGE" />
    <uses-permission android:name="cyanogenmod.permission.PERFORMANCE_ACCESS" />
    <uses-permission android:name="cyanogenmod.permission.READ_THEMES" />
    <uses-permission android:name="cyanogenmod.permission.WRITE_THEMES" />
    <uses-permission android:name="cyanogenmod.permission.ACCESS_THEME_MANAGER" />
    <uses-permission android:name="cyanogenmod.permission.MANAGE_LIVEDISPLAY" />
    <uses-permission android:name="cyanogenmod.permission.OBSERVE_AUDIO_SESSIONS" />
    <uses-permission android:name="cyanogenmod.permission.ACCESS_WEATHER_MANAGER" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />

    <application android:name=".CyanogenModTestApplication"
                 android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <uses-library android:name="android.test.runner" />
        <activity android:name=".customtiles.CMStatusBarTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".settings.CMPartnerInterfaceTest"
                  android:label="@string/settings_tests_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".alarmclock.CMAlarmClockTest"
                  android:label="@string/alarm_tests_activity_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".telephony.CMTelephonyTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".profiles.ProfileTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".versioning.VersioningTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".hardware.CMHardwareTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".customtiles.DummySettings"
                  android:label="@string/app_name" />
    </application>

    <instrumentation
            android:name="android.support.test.runner.AndroidJUnitRunner"
            android:targetPackage="org.cyanogenmod.tests" />
</manifest>
